# Общие настройки
DEBUG=False
SECRET_KEY=your-secret-key-here
ALLOWED_HOSTS=127.0.0.1,localhost,147.45.100.244

DB_NAME=your-database-name
DB_USER=your-database-user
DB_PASSWORD=your-database-password
DB_PORT=5432

# Для продакшн сервера (PostgreSQL на сервере)
DB_HOST=127.0.0.1
CELERY_BROKER_URL=redis://127.0.0.1:6379/0
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379/0

# Для Docker Compose (раскомментируй при необходимости)
# DB_HOST=db
# CELERY_BROKER_URL=redis://redis:6379/0
# CELERY_RESULT_BACKEND=redis://redis:6379/0

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=smtp.mail.ru
EMAIL_PORT=465
EMAIL_USE_TLS=False
EMAIL_USE_SSL=True
EMAIL_HOST_USER=your-email@mail.ru
EMAIL_HOST_PASSWORD=your-email-password
DEFAULT_FROM_EMAIL=your-email@mail.ru

STRIPE_SECRET_KEY=your-secret-key-here